#!ipxe

# Figure out if client is 64-bit capable
cpuid --ext 29 && set arch x86_64 || set arch i386

echo Booting Fedora ${fedora-version} ${arch} netinstall
set base-url http://asf-mirror/fedora/releases/${fedora-version}/Everything/${arch}/os/images/pxeboot
kernel ${base-url}/vmlinuz ks=http://asf-ipxe/ipxe/{{ inventory_hostname }}.ks initrd=initrd.img ksdevice=bootif BOOTIF=${netX/mac} --
initrd ${base-url}/initrd.img
boot
