#jinja2: trim_blocks:False

{% include 'kickstart-common.j2' %}



%pre
# Add key to etcd to indicate that CentOS install phase has started
curl http://ASF-etcd:2379/v2/keys/{{ inventory_hostname }}/fedora_installation_started -XPUT -d value="True"
%end



%post
{% include 'kickstart-ansible-key.j2' %}

# Add key to etcd to indicate that CentOS install phase is done
curl http://ASF-etcd:2379/v2/keys/{{ inventory_hostname }}/fedora_installation_done -XPUT -d value="True"
%end



%packages
{% include 'kickstart-packages.j2' %}
%end
