<domain type='kvm'>
  <name>{{ vmname | default(inventory_hostname_short) }}</name>
  <uuid>{{ inventory_hostname_short | to_uuid }}</uuid>
  <memory unit='MiB'>{{ vmmemory | default("512") }}</memory>
  <currentMemory unit='MiB'>{{ vmmemory | default("512") }}</currentMemory>
  <vcpu>{{ vcpu | default("4") }}</vcpu>
  <os>
    <type arch='x86_64'>hvm</type>
    <boot dev='{{ bootdevice | default('hd') }}'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <clock offset='localtime'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{ kvm_emulator_path | default("/usr/bin/qemu-kvm") }}</emulator>
{% for disk in disks %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='{{ disk.type | default("raw") }}'/>
      <source file='/var/lib/libvirt/images/{{ disk.name | default(inventory_hostname_short + ".img") }}'/>
      <target dev='{{ disk.dev | default("vd" + "abcdefghijklmnopqrstuvwxyz"[loop.index0]) }}' bus='virtio'/>
{% if disk.readonly | default(false) %}
      <readonly/>
{% endif %}
    </disk>
{% endfor %}
{% for nic in nics %}
    <interface type='bridge'>
      <mac address='{{ nic.mac | default( ("525400" + ((inventory_hostname ~ loop.index) | hash(hashtype="sha256"))[:6]) | hwaddr("linux") ) }}'/>
      <source bridge='{{ nic.vmbridgedev | default('br0') }}'/>
      <model type='virtio'/>
{% if nic.pcislot | default(false) %}
      <address type='pci' domain='0x0000' bus='0x00' slot='{{ '%#04x' % nic.pcislot|int }}' function='0x0'/>
{% endif %}
    </interface>
{% endfor %}
    <memballoon model='virtio'/>
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
    </rng>
    <graphics type='vnc' port='-1' autoport='yes'>
      <listen type='address'/>
    </graphics>
  </devices>
</domain>


